<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <h3>API publik KEPENDUDUKAN</h3>
        </div>
        <div class="row mt-4">
            <p>API publik untuk Pusat Informasi data Kependudukan.</p>
        </div>
        <div class="row mt-4" style="border-bottom: 1px solid #ccc">
            <h4>Penduduk</h4> <i class="menu-arrow"></i>
        </div>
        <div class="row mt-4">
            <h4>GET => <span><a href="/get_all_penduduk">/api/get_all</a></span></h4>
        </div>
        <div class="row mt-4">
            <h4>GET => <span><a href="/get_nik_penduduk/{nik}">/api/get_nik/{nik}</a></span></h4>
        </div>
    </div>
</div>